# Google Gemini API Key
# Get a key from Google AI Studio: https://aistudio.google.com/
GROQ_API_KEY=your_groq_api_key_here


# Supabase Credentials
VITE_SUPABASE_URL=https://jminggcexzicnakvsdlx.supabase.co
VITE_SUPABASE_KEY=sb_publishable_fRXfL-RO43PkxsuLF_vrLA_VEezLIta

# Telegram Bot Token (Create via @BotFather on Telegram)
TELEGRAM_BOT_TOKEN=8356899282:AAFh0P8M7smlxjSuetSxx1LShw80BuJI7eI



