# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.*.local
*.env

# Outputs & Builds
.output/
.vercel/
.tanstack/
.wrangler/
dist/
.tempmediaStorage/

# Local databases
*.db
*.db-journal

# Editor configuration
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
